@model List<Exhibit>
@*@model IEnumerable<WEB_153501_Antilevskaya.Domain.Entities.Exhibit>*@
@*@model WEB_153501_Antilevskaya.Domain.Models.ListModel<WEB_153501_Antilevskaya.Domain.Entities.Exhibit>*@

@{
    ViewData["Title"] = "Index";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    string? category = request.RouteValues["category"]?.ToString();
    int currentPage = ViewData["currentPage"] as int? ?? 1;
    int totalPages = ViewData["totalPages"] as int? ?? 1;
}

<h1>Exhibits</h1>

<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                @ViewData["currentCategory"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       asp-controller="Exhibit"
                       asp-route-category=@null>All</a>
                </li>
                @foreach (var item in ViewBag.Categories)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Exhibit" asp-route-category="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

@{
    await Html.RenderPartialAsync("_ExhibitListPartial", new
    {
        Exhibits = Model,
        Category = category,
        CurrentCategory = ViewData["currentCategory"],
        CurrentPage = currentPage,
        TotalPages = totalPages,
        ReturnUrl = returnUrl,
        IsAdmin = false
    });
}

@*<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="@ViewBag.previousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="1">1</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="2">2</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="3">3</a></li>
        <li class="page-item">
            <a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="@ViewBag.nextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>*@
