@*@model IEnumerable<WEB_153501_Antilevskaya.Domain.Entities.Exhibit>*@
@model WEB_153501_Antilevskaya.Domain.Models.ListModel<WEB_153501_Antilevskaya.Domain.Entities.Exhibit>

@{
    ViewData["Title"] = "Index";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    string? category = request.RouteValues["category"]?.ToString();
}

<h1>Exhibits</h1>

<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                @ViewData["currentCategory"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       asp-controller="Exhibit"
                       asp-route-category=@null>All</a>
                </li>
                @foreach (var item in ViewBag.Categories)
                {
                    <li>
                        <a class="dropdown-item"
                       asp-controller="Exhibit"
                       asp-route-category="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Items) {
        <div class="col">
            <div class="card h-100 border-dark mb-3">
                <img src="@item.Image" class="card-img-top" height="40%" width="100%" alt="Exhibit picture">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => @item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="card-footer text-muted">
                        <form method="get" action="/Cart/Add">
                            <input type="hidden" name="exhibitId" value="@item.Id" />
                            <input type="hidden" name="returnUrl" value="@returnUrl" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>   
                </div>
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="@ViewBag.previousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="1">1</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="2">2</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="3">3</a></li>
        <li class="page-item">
            <a class="page-link" asp-controller="Exhibit" asp-route-category="@ViewData["currentCategory"]" asp-route-page="@ViewBag.nextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>